.Home {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.MyNavbar {
    height: 6%;
    min-height: 50px;
}

.NotMyNavbar {
 
    height: 94%;
    
}